@import url('https://fonts.cdnfonts.com/css/lavanderia');

body {
    background-color:  #000000;
    background-image: url("https://media3.giphy.com/media/FlodpfQUBSp20/giphy.gif?cid=ecf05e477u0tfrelx17kfpy8ztfx1w1ninc01t4kl81xk5cb&rid=giphy.gif&ct=g");
    background-repeat: repeat repeat;
    font-family: 'Lavanderia', sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
    min-width: 500px;
    max-width: 1100px;
}
.masthead {
    flex: 1 100%;
    text-align: center;
}
.centre{
    text-align: center;
}
.side-left,
.side-right {
    flex: 0 0 150px;
}
.middle {
    flex: 1;
}
.footer {
    flex: 1 100%;
    text-align: center;
}
